
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top; height: auto; max-width: 100%;}
/**/
html, body {font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}
.wrap {max-width: 1200px; width: 100%; position: relative; margin: 0 auto;}
.wrap:after,
ul:after {clear: both; content: ""; display: block;}


.main_header {position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 9989;
        padding: 50px;
        box-sizing: border-box;
        z-index: 9999;}
.main_header ul {position: absolute; bottom: 60px;}
.main_header ul li:nth-of-type(1) {margin-top: 60px;}
.main_header .set2 {display: none;}


.slick-slide img {display: inline-block;}
.slick-vertical .slick-slide {border: none; height: 100vh; }

.Main {height: 100vh; overflow: hidden; position: relative;}

.Main .slick-slide:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.3);
}

.Main .slide {height: 100%;}
.Main .slide li {height: 100vh; position: relative; overflow: hidden;}
.Main .slide li .bg {transform: scale(1.1);}

.Main .slide li .txtwrap {position: absolute; top: 50%; transform: translate(-50%, -50%); width: 70%; left: 50%; max-width: 1200px;}

/* .Main .slide li .textbox {} */
.Main .slide li .textbox dl {color: #fff; line-height: 1;  margin-bottom: 55px;}
.Main .slide li .textbox dl dt {font-size: 80px; line-height: 1.1; font-weight: bold; margin-bottom: 30px;}
.Main .slide li .endt {font-size: 80px; font-weight: bold; font-family: 'Poppins', sans-serif;}
.Main .slide li .textbox dl dd {font-size: 30px;}
.Main .slide li .textbox p {color: #fff; font-size: 15px; font-family: 'Poppins', sans-serif; font-weight: normal;  display: inline-block;}
.Main .slide li .textbox p img {margin-left: 10px;}

.Main .slide li video {-webkit-transform: translateX(-50%) translateY(-50%); 
    -moz-transform: translateX(-50%) translateY(-50%); 
    -ms-transform: translateX(-50%) translateY(-50%); 
    -o-transform: translateX(-50%) translateY(-50%); 
    transform: translateX(-50%) translateY(-50%); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100;
}
.Main .slide li.slide1:before {background: rgba(0,0,0,0.5); width: 100%; height: 100%; position: absolute; left: 0; top: 0; content: ""; z-index: -1;}

.Main .slide li .imgbox img {-webkit-transform: translateX(-50%) translateY(-50%); 
    -moz-transform: translateX(-50%) translateY(-50%); 
    -ms-transform: translateX(-50%) translateY(-50%); 
    -o-transform: translateX(-50%) translateY(-50%); 
    transform: translateX(-50%) translateY(-50%); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    min-width:none; 
    max-width: none;
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100;
}

.Main .slide .slick-active .textbox dl dt {animation:  text 0.8s .1s both;}
.Main .slide .slick-active .textbox dl dd {animation:  text 0.8s .3s both;}
.Main .slide .slick-active .textbox a {animation:  text 0.8s .5s both;}

.Main .slide li.slide3 .textbox, 
.Main .slide li.slide3 .textbox {float: right;}

/*마우스휠*/
.Main .mousescroll {position: absolute; bottom: 50px; text-align: center; left: 50%; transform: translateX(-50%);}
.Main .mousescroll p {color: #fff; margin-bottom: 10px;}
.Main .mousescroll span {width: 28px; height: 42px; box-sizing: border-box; border: 2px solid #fff; border-radius: 50px; display: inline-block; position: relative;}
.Main .mousescroll span:before {width: 2px; height: 8px; background: #fff; content: ""; position: absolute; left: 50%; top: 8px; transform: translateX(-50%); animation: scroll 1s infinite;}

@keyframes scroll {
    0%{
        top: 8px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 8px;
    }
}

.Main .page {width: 1px; height: 200px; background: rgba(255,255,255,0.5); position: absolute; right: 60px; top: 50%; transform: translateY(-50%); content: "";}
.Main .page span {display: inline-block; width: 3px; position: absolute; height: 100px; background: #fff; left: 50%; transform: translateX(-50%);}
.Main .page span p {color: #fff; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-weight: 500; font-size: 14px;width: auto; white-space: nowrap;}

.Main .progressbar {width: 100%; position: absolute; bottom: 0; left: 0; height: 3px; display: block;
    background: rgba(0,0,0,0.5);
}
.Main .progressbar span {width: 0; height: 100%; position: absolute; left: 0; bottom: 0; display: block; background: #fff; transition: all 0s;}
.Main .progressbar span.complete {width: 100%;}


/*이미지 변경*/
.slick-active .bg { animation: bgplay 10s;}

@keyframes bgplay{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.Main .slide li .bg {background-position: center center; background-size: cover; background-repeat: no-repeat; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.Main .slide li.slide2 .bg {background-image: url("https://kaihyperion.github.io/cs130/webDesign/images/image1.jpeg");}

.Main .slide li.slide3 .bg {background-image: url("https://kaihyperion.github.io/cs130/webDesign/images/image2.jpeg");}



.main_01 {padding: 150px 0;}
.main_01 .title {font-size: 30px; font-weight: 600; margin-bottom: 35px; position: relative; display: inline-block; font-family: 'Poppins', sans-serif; font-weight: 500;}
.main_01 .title:after {content: ""; position: absolute; bottom: 0; width: 100%; height: 50%; background:#fee101; left: 0; z-index: -1;}

.main_01 .aos_body_box {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
.main_01 .bodybox1 {flex: 0 0 40%;}
.main_01 .bodybox2 {flex:  0 0 60%;}
.main_01 .bodybox1 dl {font-size: 48px;}
.main_01 .bodybox1 dl dd {font-weight: bold;}
.main_01 .bodybox2 p {font-size: 18px; color: #888; line-height: 2;}


/**/
.main_02 {height: 960px; width: 100%;}
.main_02:after {clear: both; content: ""; display: block;}

.main_02 .leftslide {width: 50%; float: left; height: 100%; position: relative;}
.main_02 .leftslide div {width: 100%; height: 100%;}
.main_02 .leftslide .swiper-wrapper {height: 100%; width: 100%; position: relative;}
.main_02 .leftslide .swiper-wrapper li {display: block; height: 100%; overflow: hidden;}
.main_02 .leftslide .swiper-wrapper li span {background-position: left center; display: block; width: 100%; height: 100%; background-size: cover;}
.main_02 .leftslide .swiper-wrapper li .img01 { background-image: url("https://kaihyperion.github.io/cs130/webDesign/images/image1.jpeg"); }
.main_02 .leftslide .swiper-wrapper li .img02 { background-image: url("https://kaihyperion.github.io/cs130/webDesign/images/image2.jpeg"); }
.main_02 .leftslide .swiper-wrapper li .img03 { background-image: url("https://kaihyperion.github.io/cs130/webDesign/images/image3.jpeg"); }

.main_02 .leftslide .button {position: absolute; right: 40px; top: 50%; transform: translateY(-50%); z-index: 999;}
.main_02 .leftslide .button button {cursor: pointer; background: none; border: none;}
.main_02 .leftslide .button .next {margin-bottom: 10px;}

.main_02 .leftslide .box1 {position: absolute; bottom: 30px; width: 100%; height: auto; color: #fff; z-index: 999; left: 30px;}

.main_02 .box1 ul {display: block; font-size: 20px; font-weight: 100; margin-bottom: 5px;}
.main_02 .box1 .swiper-progress-bar {width: 40% !important; height: 2px !important; 
    background: rgba(255,255,255,0.5);
    display: inline-block; vertical-align: super; position: relative;}
.main_02 .box1 .slide_progress-bar {position: absolute; height: 2px; background: #fff; width: 0; clear: both; bottom: 0; left: 0;}
.main_02 .box1 .slide_progress-bar.complete {width: 100%;}

.main_02 .upslide {width: 50%; float: right; height: 50%;}
.main_02 .upslide ul {height: 100%; width: 100%; position: relative;}
.main_02 .upslide ul li {display: block; height: 100%; overflow: hidden;}
.main_02 .upslide ul li span {display: block; width: 100%; height: 100%; background-size: cover;}

.main_02 .upslide ul li .up01 { background-image: url("https://kaihyperion.github.io/cs130/webDesign/video/clean-group.gif");}


.main_02 .downslide {width: 50%; float: right; height: 50%;}
.main_02 .downslide ul {width: 100%; height: 100%; position: relative;}
.main_02 .downslide .slick-list div {height: 100%;}

.main_02 .downslide ul li {display: flex !important; height: 100%; justify-content: center; text-align: left; flex-direction: column; padding-left: 10%; box-sizing: border-box;}
.main_02 .downslide ul li p {font-size: 30px; position: relative; opacity: 0;}
.main_02 .downslide ul li p:before {width: 42px; height: 42px; border-radius: 100%; background: #fee101; position: absolute; left: -20px; top: -15px; content: ""; z-index: -1;}
.main_02 .downslide ul li dl dt {font-size: 50px; font-weight: bold; margin-bottom: 35px; font-family: 'Poppins', sans-serif; letter-spacing: -5px; overflow: hidden;}
.main_02 .downslide ul li dl dt span {display: inline-block;}

.main_02 .downslide ul li dl dd {font-size: 20px; color: #444; opacity: 0;}

.main_02 .slick-active p {animation:  text 0.8s .1s both;}
.main_02 .slick-active dl dt span{animation: text2 0.8s .1s both;}
.main_02 .slick-active dl dd {animation:  text 0.8s .5s both;}

.main_02 .downslide ul li dl dt span:nth-of-type(2) {animation-delay: 0.2s}
.main_02 .downslide ul li dl dt span:nth-of-type(3) {animation-delay: 0.3s}
.main_02 .downslide ul li dl dt span:nth-of-type(4) {animation-delay: 0.4s}
.main_02 .downslide ul li dl dt span:nth-of-type(5) {animation-delay: 0.5s}
.main_02 .downslide ul li dl dt span:nth-of-type(6) {animation-delay: 0.6s}
.main_02 .downslide ul li dl dt span:nth-of-type(7) {animation-delay: 0.7s}
.main_02 .downslide ul li dl dt span:nth-of-type(8) {animation-delay: 0.8s}
.main_02 .downslide ul li dl dt span:nth-of-type(9) {animation-delay: 0.9s}
.main_02 .downslide ul li dl dt span:nth-of-type(10) {animation-delay: 1s}

@keyframes text {
    0% { opacity: 0; transform: translateY(30px);}
    100% {opacity: 1; transform: translateY(0);}
}

/**/
.main_03 {padding: 150px 0; background: #fee101;}
.main_03 .title {font-size: 30px; font-weight: 600; margin-bottom: 35px; position: relative; display: inline-block; z-index: 1; font-family: 'Poppins', sans-serif; font-weight: 500;}
.main_03 .title:after {content: ""; position: absolute; bottom: 0; width: 100%; height: 50%; background:#fff; left: 0; z-index: -1;}

.main_03 .box {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
.main_03 .leftbox {flex: 1 1 100px;}

.main_03 .leftbox dl {font-size: 48px;}
.main_03 .leftbox dl dd {font-weight: bold;}
.main_03 .rightbox p {font-size: 18px; color: #555; line-height: 2;}


.main_04 {text-align: center; color: #fff; background: url(https://kaihyperion.github.io/cs130/webDesign/images/KakaoTalk_Image_2021-05-28-17-37-44.jpeg); height: 376px; display: flex; justify-content: center; align-items: center;
    -ms-flex-pack: start;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_04 dl dt {font-size: 38px; margin-bottom: 40px; font-family: 'Poppins', sans-serif; font-weight: 600;}
.main_04 dl dd {font-size: 18px; margin-bottom: 40px;}
.main_04 a {display: inline-block; padding: 15px 40px; border: 1px solid #fff; border-radius: 100px; font-size: 20px; color: #fff; box-sizing: border-box;font-family: 'Poppins', sans-serif; font-weight: normal; transition: 0.2s;}

.main_04 a:hover {background: #fee101; color: #000; border: 1px solid #fee101;}


